@font-face {
    font-family: Inter-Variable;
    src: url(../fonts/Inter-Variable.ttf);
}

@font-face {
    font-family: WorkSans-Variable;
    src: url(../fonts/WorkSans-Variable.ttf);
}

:root {
    --cw: #ffffff;
    --cb: #000000;
    --fi: Inter-Variable;
    --fw: WorkSans-Variable;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-family: var(--fi);
    scroll-behavior: smooth;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--cb);
}

header .line {
    width: 1px;
}

header .intro {
    display: flex;
    flex-direction: column;
}


header .intro div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 0px;
}

header .intro p {
    line-height: 1;
}

header .intro div p:nth-of-type(1) {
    color: white;
    font-family: var(--fw);
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-top: 30px;
}

header .intro div p:nth-of-type(2) {
    color: white;
    font-family: var(--fi);
    font-size: clamp(40px, 8vw, 96px);
    font-weight: 700;
    margin-top: 1vw;
    margin-bottom: -2vw;
}

header .intro div p:nth-of-type(3) {
    color: rgb(0, 0, 0);
    font-family: var(--fw);
    font-size: clamp(40px, 8vw, 96px);
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    margin-top: 0px;
}

header .intro div p:nth-of-type(4) {
    color: white;
    font-family: var(--fw);
    font-weight: 400;
    font-size: clamp(14px, 2vw, 20px);
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
}

.bear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-top: 3vw;
}

.bear a {
    display: inline-block;
    padding: 12px 32px;
    color: white;
    text-decoration: none;
    border: 1px solid #AAA;
}

.bear a:hover {
    background-color: #AAA;
    color: black;
}

/* Section */

.history {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #ffffff;
    font-family: var(--fi);
    padding-left: 7.56vw;
    padding-top: 18.08vw;
    padding-bottom: 20vw;
}

.history h1 {
    font-size: clamp(30px, 5vw + 20px, 97px);
    font-style: normal;
    font-weight: 700;
}

.wild {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
    position: relative;
}

.history img {
    width: 40vw;
    max-width: 448px;
    top: 2vw;
    right: 10vw;
    position: absolute;
}

.wild :nth-of-type(1),
.wild :nth-of-type(3),
.wild :nth-of-type(5) {
    font-size: clamp(12px, 2vw, 18px);
    font-family: var(--fw); 
    font-weight: 700;
}

.wild :nth-of-type(2),
.wild :nth-of-type(4),
.wild :nth-of-type(6) {
    font-size: clamp(60px, 8vw, 86px);
    font-weight: 700;
    font-family: var(--fw);
}

/* Stuck in 
the middle. */

.middle {
    display: flex;
    flex-direction: column;
    position: relative;
}

.photo1 img {
    position: relative;
    max-width: 329px;
    width: 27vw;
    top: -3vw;
    left: 60vw;
}

.photo2 img {
    position: relative;
    max-width: 274px;
    width: 19vw;
    top: 2vw;
    left: 3vw;
}

.txt1 p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 48vw;
    padding: 5px;
    max-width: 360px;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 15px);
    line-height: 100%;
}

.txt1 p span {
    font-size: clamp(40px, 6vw, 83px);
    line-height: 100%;

}

.photo3 img {
    position: relative;
    max-width: 274px;
    width: 19vw;
    top: 3vw;
    left: 79.1vw;
}

.photo4 img {
    position: relative;
    max-width: 329px;
    width: 27vw;
    top: 3vw;
    left: 12vw;
}

.photo5 img {
    position: relative;
    max-width: 329px;
    width: 27vw;
    top: 1vw;
    left: 60vw;
}

.photo6 img {
    position: relative;
    max-width: 274px;
    width: 19vw;
    top: 10vw;
    left: 0vw;
}

.txt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 45vw;
    max-width: 400px;
    font-weight: 400;
    font-size: clamp(10px, 2vw, 15px);
    line-height: 170%;
}

.photo7 img {
    position: relative;
    width: 30vw;
    max-width: 438px;
    top: 4vw;
    left: 50vw;
    z-index: 2;
}

/* The
Golden
Bear */

.goldbear {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 10vw;
    padding-bottom: 15vw;
    position: relative;
}

.goldbear .artist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 89vw;
    max-width: 1000px;
    margin: auto;
}

.txt3 :nth-of-type(1) {
    font-size: clamp(14px, 2vw, 19px);
    font-weight: 400;
}

.txt3 {
    font-size: clamp(40px, 6vw, 83px);
    font-weight: 700;
    padding-right: 10vw;
}

.txt4 {
    font-size: clamp(16px, 2.5vw, 28px);
    font-weight: 700;
}

.txt4 span {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
}

.goldbear .artist p {
    color: #ffffff;
}

.bear2 .bild1 {
    width: 50vw;
    max-width: 731px;
    bottom: -30vw;
    left: 10vw;
    position: absolute;
    z-index: 3;
}

.bear2 .bild2 {
    width: 25vw;
    max-width: 366px;
    bottom: -25vw;
    right: 20vw;
    position: absolute;
    z-index: 4;
}

.bear2 {
    display: flex;
    margin-top: 168px;
}

.circle img{
    width: 29vw;
    max-width: 411px;
    bottom: -20vw;
    right: 4vw;
    position: absolute;
    z-index: 2;
    animation: circledrehen 5s linear infinite;
}

@keyframes circledrehen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* The
Poppy
Bear */

.poppy {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-top: 45vw;
    padding-bottom: 55vw;
    position: relative;
    z-index: 1;
}

.poppy .artist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 18vw;
}

.poppy .img1 {
    max-width: 731px;
    width: 51vw;
    position: absolute;
    bottom: 12vw;
    right: 16vw;
    z-index: 0;
}

.poppy .img2 {
    max-width: 366px;
    width: 25vw;
    position: absolute;
    bottom: 21vw;
    left: 13vw;
    z-index: 1;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 8vw 8vw 3vw 8vw;
    position: relative;
    z-index: 0;
}

.footertxt1 {
    display: flex;
    flex-direction: column;
    width: 45vw;
    max-width: 320px;
    line-height: 3vw;
    color: #ffffff;
}

.footertxt1 p:nth-of-type(1) {
    font-size: clamp(10px, 1.5vw, 12px);
}

.footertxt1 p:nth-of-type(2) {
    font-size: clamp(16px, 2vw, 24px);
}

.footertxt1 a {
    display: inline-block;
    padding: 12px 32px;
    margin-top: 3vw;
    color: white;
    text-decoration: none;
    border: 1px solid #AAA;
}

.footertxt1 a:hover {
    background-color: #AAA;
    color: black;
}

.footeranimation {
    overflow: hidden;
    flex-direction: row;
}

@keyframes footer {
    from {
        transform: translate(50%);
    }
    to {
        transform: translate(-15%);
    }
}

.footeranimation1 p {
    font-size: clamp(50px, 5vw, 88px);
    font-weight: 600;
    animation: footer 4s linear infinite alternate;
}

.footeranimation1 p span {
    color: white;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.footeranimation1 {
    display: flex;
    background-color: white;
    color: black;
    position: relative;
    right: -20vw;
    top: -2vw;
    max-width: 1000px;
    width: 90vw;
    height: 90px;
    position: absolute;
    overflow: hidden;
    flex-direction: row-reverse;
    transform: rotate(45deg);
}

.footerimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4vw;
    line-height: 4vw;
}

.footerimg .help {
    width: 10vw;
    max-width: 100px;
}

.footerimg .social {
    width: 4vw;
    max-width: 30px;
}

.footerimg p {
    color: white;
}